{% extends 'base.html' %}
{% block content %}
<section class="text-gray-600 body-font">
  <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col">
    <div class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0">
      <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">Empower Dreams, Inspire Change,
        <br class="hidden lg:inline-block">Together We Rise!
      </h1>
      <p class="mb-8 leading-relaxed">Yogdaan is where every rupee becomes a ray of hope, igniting dreams and fueling change across India. Join us on this transformative journey!</p>
      <div class="flex gap-4">
        <button class="inline-flex text-white bg-green-500 border-0 p-4 focus:outline-none hover:bg-green-600 rounded text-lg">
          {% if not user.is_authenticated %}
          Sign up
          {% else %}
          Updates
          {% endif %}
        </button>
        <button class="ml-4 inline-flex text-gray-700 bg-gray-100 border-0 p-4 focus:outline-none hover:bg-gray-200 rounded text-lg">See our Supporters</button>
      </div>
    </div>
    <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
      <swiper-container id="hero" autoplay-delay="4000" loop="true">
        <swiper-slide>
          <img class="object-cover object-center rounded swiper-slide" alt="hero" src="/static/images/1137902-mid-day-meal-2.avif">
        </swiper-slide>
        <swiper-slide>
          <img class="object-cover object-center rounded swiper-slide" alt="hero" src="/static/images/rain_1687670446355_1687670465769.avif">
        </swiper-slide>
        <swiper-slide>
          <img class="object-cover object-center rounded swiper-slide" alt="hero" src="/static/images/a_new_era.avif">
        </swiper-slide>
        <swiper-slide class="text-center items-center justify-center">
          <p class="text-5xl text-italics text-bold text-center items-center justify-center">
            Donations can change lives,
            <br>
            but fundraisers can build new lives!
          </p>
        </swiper-slide>
      </swiper-container>
      <div class="swiper-btns">
        <button id="swiper-prev" class="text-center items-center justify-center inline-flex text-white bg-green-500 border-0 p-4 focus:outline-none hover:bg-green-600 rounded text-lg" ><i class="fa fa-arrow-left"></i></button>
        <span></span>
        <button id="swiper-next" class="text-center items-center justify-center inline-flex text-white bg-green-500 border-0 p-4 focus:outline-none hover:bg-green-600 rounded text-lg" ><i class="fa fa-arrow-right"></i></button>
      </div>
    </div>
  </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-element-bundle.min.js"></script>
<script>
  const swiperEl = document.querySelector('swiper-container#hero');
  const buttonElPrev = document.querySelector('#swiper-prev');
  const buttonEl = document.querySelector('#swiper-next');

  buttonElPrev.addEventListener('click', () => {
    swiperEl.swiper.slidePrev();
  });

  buttonEl.addEventListener('click', () => {
    swiperEl.swiper.slideNext();
  });
</script>
<hr>
<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-20">
      <h1 class="text-2xl font-medium title-font mb-4 text-gray-900 tracking-widest">OUR TEAM</h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">This is the team whose Contributions have let us reach this height</p>
    </div>
    <div class="flex flex-wrap -m-4">
      
      <div class="p-4 lg:w-1/2">
        <div class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left">
          <img alt="team" class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0 mb-4" src="https://dummyimage.com/206x206">
          <div class="flex-grow sm:pl-8">
            <h2 class="title-font font-medium text-lg text-gray-900">Henry Letham</h2>
            <h3 class="text-gray-500 mb-3">Designer</h3>
            <p class="mb-4">DIY tote bag drinking vinegar cronut adaptogen squid fanny pack vaporware.</p>
            <span class="inline-flex">
              <a class="text-gray-500">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                  <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                </svg>
              </a>
              <a class="ml-2 text-gray-500">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                  <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
                </svg>
              </a>
              <a class="ml-2 text-gray-500">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                  <path d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z"></path>
                </svg>
              </a>
            </span>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<hr>
<div class="xl:w-1/2 lg:w-3/4 w-full mx-auto text-center">

      <h1 class="text-2xl font-medium title-font mb-4 text-gray-900 tracking-widest">TESTIMONIALS</h1>
<svg style="width: 15rem; height: 15rem; display: inline-block;" id="testimonial" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="testimonial inline-block w-8 h-8 text-gray-400 mb-8" viewBox="0 0 975.036 975.036">
        <path d="M925.036 57.197h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.399 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l36 76c11.6 24.399 40.3 35.1 65.1 24.399 66.2-28.6 122.101-64.8 167.7-108.8 55.601-53.7 93.7-114.3 114.3-181.9 20.601-67.6 30.9-159.8 30.9-276.8v-239c0-27.599-22.401-50-50-50zM106.036 913.497c65.4-28.5 121-64.699 166.9-108.6 56.1-53.7 94.4-114.1 115-181.2 20.6-67.1 30.899-159.6 30.899-277.5v-239c0-27.6-22.399-50-50-50h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.4 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l35.9 75.8c11.601 24.399 40.501 35.2 65.301 24.399z"></path>
      </svg>
</div>
<swiper-container autoplay-delay='5000' loop="true">
<swiper-slide>
    <div class="text-gray-600 body-font">
        <div class="container px-5 py-24 mx-auto">
            <div class="xl:w-1/2 lg:w-3/4 w-full mx-auto text-center">
                <p class="leading-relaxed text-lg">
                    Yogdaan is a beacon of hope! Their dedication to supporting causes and empowering individuals is truly inspiring. I contributed to a fundraiser, and seeing the impact it made warmed my heart. Proud to be part of this community!
                </p>
                <span class="inline-block h-1 w-10 rounded bg-indigo-500 mt-8 mb-6"></span>
                <h2 class="text-gray-900 font-medium title-font tracking-wider text-sm">Anjali K</h2>
                <p class="text-gray-500">Senior Product Designer</p>
            </div>
        </div>
    </div>
</swiper-slide>

<swiper-slide>
    <div class="text-gray-600 body-font">
        <div class="container px-5 py-24 mx-auto">
            <div class="xl:w-1/2 lg:w-3/4 w-full mx-auto text-center">
                <p class="leading-relaxed text-lg">
                    Yogdaan has a heartwarming mission! Their tireless commitment to social causes is changing lives. I've seen firsthand the impact they make in communities. Proud to support Yogdaan's noble cause.
                </p>
                <span class="inline-block h-1 w-10 rounded bg-indigo-500 mt-8 mb-6"></span>
                <h2 class="text-gray-900 font-medium title-font tracking-wider text-sm">Rahul S</h2>
                <p class="text-gray-500">Entrepreneur</p>
            </div>
        </div>
    </div>
</swiper-slide>

<swiper-slide>
    <div class="text-gray-600 body-font">
        <div class="container px-5 py-24 mx-auto">
            <div class="xl:w-1/2 lg:w-3/4 w-full mx-auto text-center">
                <p class="leading-relaxed text-lg">
                    Yogdaan's impact is tangible! Donating to their campaigns brings joy, knowing that every rupee counts. Their transparency and dedication to their mission inspire confidence. Proud to be part of Yogdaan's community.
                </p>
                <span class="inline-block h-1 w-10 rounded bg-indigo-500 mt-8 mb-6"></span>
                <h2 class="text-gray-900 font-medium title-font tracking-wider text-sm">Priya M</h2>
                <p class="text-gray-500">Social Advocate</p>
            </div>
        </div>
    </div>
</swiper-slide>

<swiper-slide>
    <div class="text-gray-600 body-font">
        <div class="container px-5 py-24 mx-auto">
            <div class="xl:w-1/2 lg:w-3/4 w-full mx-auto text-center">
                <p class="leading-relaxed text-lg">
                    Yogdaan is like family! The support and unity within this community are heartwarming. Their mission makes giving back feel like a collective effort. Proud to contribute to Yogdaan's journey.
                </p>
                <span class="inline-block h-1 w-10 rounded bg-indigo-500 mt-8 mb-6"></span>
                <h2 class="text-gray-900 font-medium title-font tracking-wider text-sm">Aryan B</h2>
                <p class="text-gray-500">Community Builder</p>
            </div>
        </div>
    </div>
</swiper-slide>

<swiper-slide>
    <div class="text-gray-600 body-font">
        <div class="container px-5 py-24 mx-auto">
            <div class="xl:w-1/2 lg:w-3/4 w-full mx-auto text-center">
                <p class="leading-relaxed text-lg">
                    Yogdaan is a source of inspiration! Their commitment to empowering dreams and supporting causes is remarkable. I've witnessed the positive change they bring to communities. Proud to be part of Yogdaan's journey.
                </p>
                <span class="inline-block h-1 w-10 rounded bg-indigo-500 mt-8 mb-6"></span>
                <h2 class="text-gray-900 font-medium title-font tracking-wider text-sm">Deepak R</h2>
                <p class="text-gray-500">Change-Maker</p>
            </div>
        </div>
    </div>
</swiper-slide>  
</swiper-container>
{% endblock %}
